@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
}

.navigation-container{
    position: absolute;
    top:0;
}

#landing-image-background{
    height: 100%;
    z-index: -100;
}

.landing-image-background-xl{
    height: 100%;
    text-align: right;
    z-index: -100;
}

#landing-image-plate{
    left:5.67%;
}

#landing-image-3d-components{
    top: 652px;
    left: 36%;
    position: absolute;
}

.navbar{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: lighter;
}

.navbar-collapse{
    justify-content: center;
    margin-top: 80px;
}

.navbar-toggler{
    margin-top: 56px;
}

#logo-desktop{
    position: absolute;
    margin-left: 140px;
    margin-top: 56px;
    z-index: 1;
}

#logo-mobile{
    position: absolute;
    margin:auto;
    padding: 0;
    margin-top: 56px;
    left: 0;
    right: 0;
    text-align: center;
    z-index: 2;
}

.sign-in-sign-up-container{
    position: absolute;
    top: 69px;
    right: 0px;
    padding-right: 7.34%;
    height: 60px;
    
}

.sign-in-sign-up-container a{
    color:white;
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: 300;
    white-space: nowrap;
    padding:0;
    height: 37px;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
}

.sign-in-sign-up-container a:visited{
    color: white;
}

.sign-in-sign-up-container a:hover{
    color: #FE0435;
}

.button-regular{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: Bold;
    width: 180px;
    height: 60px;
    border-radius: 15px;
    border-width: 0;
    background-color: #FE0435;
    box-shadow: 0px 3px 50px #FE0435;
}

.hero-container{
    font-family: 'Poppins', sans-serif;
    position: absolute;
    top: 18%;
    padding-left: 7.3%;
}

.hero-header{
    position: relative;
    top: 89px;
}

.hero-header .fw-bold{
    color: #181e27;
    line-height: 115%;
}

#red-hero-text{
    font-weight: Bold;
    color: #FE0435;
    line-height: 115%;
}

#hero-paragraph{
    margin-top: 30px;
    font-family: 'Rubik', sans-serif;
}

.button-big{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
    font-weight: Bold;
    width: 240px;
    height: 80px;
    border-radius: 15px;
    border-width: 0;
    background-color: #FE0435;
}

.sticky-search {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: #181e27;
    z-index: 100;
}

.tall-div{
    height: 40px;
    width:100%;
    clear:both;   
}

.taller-div{
    height: 145px;
    width:100%;
    clear:both;
}

#search-container{
    background-color: #181e27;
}

.search-fields{
    margin-top: 1.6%;
    margin-bottom: 1.6%;
    padding-left: 7.3%;
    padding-right: 7.3%;
}

#search-container .fw-bold{
    padding-left: 7.3%;
    color: white;
    font-family: 'Poppins', sans-serif;
    margin-bottom: 0;
    margin: 0 auto;
    z-index:10; 
    width:100%;
}

.sticky-filter-and-sort{
    width: 550px;
    position: fixed;
    top: 147px;
    z-index: 100;
}

.form-control{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 300;
    padding-left: 20px;
    height: 60px;
    border-radius: 15px;
    border-width: 0;
}

.form-control:focus{
    box-shadow: 0px 0px 10px #00BC8B;
}

.form-select{
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 300;
    height: 60px;
    border-radius: 15px;
    border-width: 0;
}

.form-select:focus{
    box-shadow: 0px 0px 10px #00BC8B;
}

.search-result-body{
    padding-left: 7.3%;
    padding-right: 7.3%;
}

.filter-container{
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    border-width: 0px;
    height: 412px;
}

.sort-container{
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    border-width: 0px;
    height: 266px;
}

.form-check-input:checked {
    background-color: #00BC8B;
    border-color: #00BC8B;
}

.form-check-input{
    width: 2em;
    height: 2em;
    margin-right: 5%;
}

.basic-title{
    font-family: 'Rubik', sans-serif;
    font-size: 30px;
    font-weight: Bold;
}

.form-check-label{
    padding-top: 2px;
    font-family: 'Rubik', sans-serif;
    font-size: 25px;
    font-weight: 300;
    color: #a2a2a2
}

.restaurant-img {
    height:256px;
    object-fit: cover;
    width: 375px;
}

.restaurant-card {
    box-shadow: 0px 3px 20px rgba(0, 0, 0, 0.16);
    border-radius: 15px;
    border-width: 0px;
}

.restaurant-cuisine{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #a2a2a2;
}

.restaurant-location{
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
    font-weight: 300;
    color: #a2a2a2;
}

.restaurant-logo{
    max-height: 50px;
    max-width: 60px;
}

.location-pin-img{
    height: 25px;
    margin-right: 0.7rem;
}


.rating-text{
    color:#FFC107;
    font-family: 'Rubik', sans-serif;
    font-size: 20px;
}
