@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap');

#managerCustomers{
    object-fit: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

#search-container-customers{
    background-color: #181e27;
    /*margin-left: 7.292vw;
    margin-right: 7.292vw;*/
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    margin-top: 5vw;
}

#search-container-customers .fw-bold{
    font-size: 4.1vw;
    color: white;
    padding-left: 7.2vw;
    margin-bottom: 1vw;
    
}
/*
.restaurant-card{
    height: 210px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.10);
    border-radius: 15px;
    border-width: 0px;
    margin-bottom: 40px;
}
*/
.customers-body{
    width: 100%;
    padding-top: 40px;
    padding-left: 3.64vw;
    font-family: 'Rubik', sans-serif;
}

.customer-info-text{
    color: #a2a2a2;
    font-size: 16px;
    font-weight: lighter;
    display:inline-block;
}

.customers-title{
    white-space: nowrap;
    font-size: 20px;
    font-weight: Bold;
    margin-bottom: 18px;
}

.restaurant-info{
    width: 100%;
    justify-content: center;
    padding-left: 2.604vw;
}