<!DOCTYPE html>
<html>
  <head>
    <meta charset="ISO-8859-1">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>Foodly</title>
    <link rel="shortcut icon" href="../assets/images/favicon.ico">
    <link rel="stylesheet" href="../js/bootstrap-5.0.1-dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="../css/homepage.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;700&display=swap" rel="stylesheet">
    <script type="text/javascript" src="../js/bootstrap-5.0.1-dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="../js/vue.js"></script>
    <script type="text/javascript" src="../js/axios.js"></script>
    <script type="text/javascript" src="../js/vuelidate.min.js"></script>
    <script type="text/javascript" src="../js/validators.min.js"></script>
  </head>

  <body>
    
    <div id="homepage">
      <div id="sign-up-modal" class="modal">
        <register-info></register-info>
      </div>
      <div id="sign-in-modal" class="modal">
        <login-info></login-info>
      </div>
      <div id="content">
        <!--Visible only on xl-->
        <img class="img-fluid d-none d-xl-block" src="../assets/components/hero-image.png" id="hero-image">
        <!--Visible only on lg-->
        <img class="img-fluid d-xl-none d-none d-lg-block" src="../assets/components/hero-image-xl-lg.png" id="hero-image">
        <!--Visible only on md-->
        <img class="img-fluid d-lg-none d-none d-md-block" src="../assets/components/hero-image-md.png" id="hero-image">

        <!--Navigation container-->
        <div class="container-fluid navigation-container pt-3 px-0">
          <div class="container-fluid d-none d-lg-block px-0">
            <img src="../assets/images/logos/full-logo.png" alt="Brand logo" id="full-logo">
          </div>
          <div class="container d-lg-none px-0">
            <img src="../assets/images/logos/foodly-logo.png" alt="Brand logo" id="foodly-logo">
          </div>
          <nav class="navbar navbar-expand-lg navbar-light">
            <div class="container-fluid px-0">
              <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse" id="navbarNavDropdown">
                <ul class="navbar-nav">
                  <li class="nav-item">
                    <a class="nav-link active py-0" aria-current="page" href="#">Home</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link py-0" href="#">About us</a>
                  </li>
                  <li class="nav-item d-lg-none signinlink">
                    <a class="nav-link py-0" href="#">Sing in</a>
                  </li>
                  <li class="nav-item d-lg-none signuplink">
                    <a class="nav-link py-0" href="#">Sign up</a>
                  </li>
                </ul>
              </div>
            </div>
            <div class="d-none d-lg-block">
              <div class="signin-signup-container mt-2">
                <div>
                  <a id="signinbtn" class="nav-link" href="#">Sign in</a>
                </div>
                <div>
                  <button id="signupbtn" type="button" class="btn btn-danger regular-button">Sign up</button>
                </div>
              </div> 
            </div>
          </nav>
        </div>

        
        <!-- Hero container -->
        <div class="container-fluid hero-container px-0">
            <h1 class="fw-bold"> 
              Order fresh &<br>
              delicious food in<br>
              just <span id="red-hero-text">5 minutes!</span>
            </h1>
            <p class="display-6 m-0 mt-3" id="hero-paragraph">What are you waiting?</p>
            <button type="button" class="btn btn-danger regular-button mt-3">Order now</button>
        </div>
        <div class="container-fluid px-0" id="search-container">
          <div>
            <h1 class="fw-bold mt-4"> 
              Where to eat?
            </h1>
          </div>
          
          <div v-bind:class="{'sticky-search' : stickySearch}" > 
            <div class="search-wrapper" id="search-wrapper" v-bind:class="{'sticky-search-wrapper' : stickySearch}">
              <div id="search-fields-wrapper">
                <div>
                  <input type="text" class="form-control" placeholder="Restaurant name..." v-model="searchParameters[0]">
                </div>
                <div>
                  <input type="text" class="form-control" placeholder="Location..." v-model="searchParameters[1]">
                </div>
                <div>
                  <select class="form-select" v-model="searchParameters[2]">
                    <option value="" disabled selected>Cuisine...</option>
                    <option value="Barbecue">Barbecue</option>
                    <option value="Italian">Italian</option>
                    <option value="Chinese">Chinese</option>
                  </select>
                </div>
                <div>
                  <select class="form-select" v-model="searchParameters[3]">
                    <option value="" disabled selected>Rating...</option>
                    <option value="4-5">4-5 stars</option>
                    <option value="3-4">3-4 stars</option>
                    <option value="2-3">2-3 stars</option>
                    <option value="1-2">1-2 stars</option>
                  </select>
                </div>
              </div>
              <div>
                <button type="button" class="btn btn-danger regular-button" :disabled="searchParameters[0] == '' && searchParameters[1] == '' && searchParameters[2] == '' && searchParameters[3]==''" @click="searchRestaurants">Search</button>
              </div>
            </div>
          </div>
        </div>

        <div v-bind:class="{'sticky-empty-div' : stickySearch}"></div>

        <div class="d-flex flex-row">
          <div class="shrinking-margin"></div>
          <div class="center-div">
            <div class="search-body-container d-flex ">
              <div id="big-filter-sort-container" class="big-filter-sort-container">
                <div class="d-none d-lg-block filter-sort-wrapper" id="filter-sort-wrapper" v-bind:class="{'filter-sort-wrapper-sticky': stickySearch}">
                  <div v-bind:class="{'empty-filter-sort' : stickySearch}"></div>
                  <!-- Filter container -->
                  <div class="row filter-sort-container">
                    <span class="basic-title p-0">Cuisine</span>
                    <div class="form-check">
                      <input class="form-check-input m-0" type="checkbox" :disabled="checkedCuisines[0] == 'showAll'"  value="showAll" v-model="checkedCuisines" v-on:change="filterCuisines('showAll')" id="flexCheckShowAll">
                      <label class="form-check-label" for="flexCheckShowAll">
                        Show all
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input m-0" type="checkbox" value="barbecue" v-model="checkedCuisines" v-on:change="filterCuisines()" id="flexCheckBarbecue">
                      <label class="form-check-label" for="flexCheckBarbecue">
                        Barbecue
                      </label>
                    </div>
                    <div class="form-check">
                      <input class="form-check-input m-0" type="checkbox" value="italian" v-model="checkedCuisines" v-on:change="filterCuisines()" id="flexCheckItalian">
                      <label class="form-check-label" for="flexCheckItalian">
                        Italian
                      </label>
                    </div>
                    <div class="form-check last-form-check">
                      <input class="form-check-input m-0" type="checkbox" value="chinese" v-model="checkedCuisines" v-on:change="filterCuisines()" id="flexCheckChinese">
                      <label class="form-check-label" for="flexCheckChinese">
                        Chinese
                      </label>
                    </div>
                    <h1 class="basic-title px-0">Status</h1>
                    <div class="form-check last-form-check">
                      <input class="form-check-input m-0" type="checkbox" value="true" v-model="checkedOpenRestaurants" id="flexCheckStatus">
                      <label class="form-check-label" for="flexCheckStatus">
                        Show only open restaurants
                      </label>
                    </div>
                  </div>
                  <!-- Sort container -->
                  <div class="row filter-sort-container">
                    <span class="basic-title p-0">Sort by</span>
                    <div class="row">
                      <div class="col-9 p-0 ">
                        <div class="form-check">
                          <input class="form-check-input m-0" type="radio" name="flexRadioDefault" value="usual" v-model="sortBy" id="flexRadioUsual">
                          <label class="form-check-label" for="flexRadioUsual">
                            Usual
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input m-0" type="radio" name="flexRadioDefault" value="name" v-model="sortBy" id="flexRadioName">
                          <label class="form-check-label" for="flexRadioName">
                            Restaurant name
                          </label>
                        </div>
                        <div class="form-check">
                          <input class="form-check-input m-0" type="radio" name="flexRadioDefault" value="location" v-model="sortBy" id="flexRadioLocation">
                          <label class="form-check-label" for="flexRadioLocation">
                            Nearest location
                          </label>
                        </div>
                        <div class="form-check last-form-check">
                          <input class="form-check-input m-0" type="radio" name="flexRadioDefault" value="rating" v-model="sortBy" id="flexRadioRating">
                          <label class="form-check-label" for="flexRadioRating">
                            Rating
                          </label>
                        </div>
                      </div>
                      <div class="col-3 p-0 sort-orders">
                        <div v-for="(sortOrder, index) in sortOrders">
                          <div class="row sort-order-container">
                            <div class="col px-0" style="text-align:end;">
                              <img @click="sortOrderChanged($event, index)" :src="sortOrder == 'Asc' ? '../assets/icons/ascending.png' : (sortOrder =='Desc' ? '../assets/icons/descending.png' : (sortOrder =='Z-A' ? '../assets/icons/ascending.png' : '../assets/icons/descending.png'))" class="img-fluid sort-icon">
                            </div>
                            <div class="col p-0">
                              <a class="nav-link" href="#" @click="sortOrderChanged($event, index)">{{sortOrder}}</a>
                            </div>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="d-flex flex-column" >
                <div class="d-flex flex-row search-results">
                  <h5 class="search-results-header" :hidden="displayMode!='search'">Search results</h5>
                  <a class="nav-link" href="#" :hidden="displayMode!='search'" @click="showAllRestaurants">Show all restaurants</a>
                </div>
                <restaurant-search-results ref="child1" :cuisines-to-display="checkedCuisines" :open-restaurants-to-display="checkedOpenRestaurants" :sort-restaurants-by="sortBy" :sort-orders="sortOrders" :sort-orders-index="sortOrdersIndex" :search-parameters="searchParameters" :display-mode="displayMode"></restaurant-search-results>
              </div>
              <div footer-bar>

              </div>
            </div>
          </div>
          <div class="shrinking-margin"></div>
        </div>
      </div>
      <footer class="text-white" id="footer">
        <div class="container p-4 pb-0">
          <section class="footer-info d-flex flex-row mb-4">
            <div class="d-flex flex-column text">
              <div class="basic-title">
                Attributors
              </div>
              <span class="mb-3 mt-2">
                Aleksa Vujisić
              </span>
              <span>
                Nenad Bečanović
              </span>
            </div>
            <div class="d-flex flex-column">
              <div class="basic-title">
                Field of expertise
              </div>
              <span class="mb-3 mt-2">
                Frontend
              </span>
              <span>
                Backend
              </span>
            </div>
            <div class="d-flex flex-column">
              <div class="basic-title">
                Links
              </div>
              <div class="d-flex flex-row">
                <a class="btn btn-outline-light btn-circle m-1" target="_blank" href="https://www.linkedin.com/in/aleksavujisic/" @mouseover="changeToDarkLogo(0)" @mouseout="changeToLightLogo(0)" role="button"><img v-bind:src="socialMediaLogo[0]" class="link-image"></a>
                <a class="btn btn-outline-light btn-circle m-1" target="_blank" href="https://www.facebook.com/aleksa.vujisicc/" @mouseover="changeToDarkLogo(1)" @mouseout="changeToLightLogo(1)" role="button"><img v-bind:src="socialMediaLogo[1]" class="link-image"></a>
                <a class="btn btn-outline-light btn-circle m-1" target="_blank" href="https://www.instagram.com/aleksavujisic/" @mouseover="changeToDarkLogo(2)" @mouseout="changeToLightLogo(2)" role="button"><img v-bind:src="socialMediaLogo[2]" class="link-image"></a>
              </div>
              <div class="d-flex flex-row">
                <a class="btn btn-outline-light btn-circle m-1" target="_blank" href="https://www.linkedin.com/in/nenad-becanovic/" @mouseover="changeToDarkLogo(3)" @mouseout="changeToLightLogo(3)" role="button"><img v-bind:src="socialMediaLogo[3]" class="link-image"></a>
                <a class="btn btn-outline-light btn-circle m-1" target="_blank" href="https://www.facebook.com/nenad.becanovic.3" @mouseover="changeToDarkLogo(4)" @mouseout="changeToLightLogo(4)" role="button"><img v-bind:src="socialMediaLogo[4]" class="link-image"></a>
                <a class="btn btn-outline-light btn-circle m-1" target="_blank" href="https://www.instagram.com/nenad_becanovic/" @mouseover="changeToDarkLogo(5)" @mouseout="changeToLightLogo(5)" role="button"><img v-bind:src="socialMediaLogo[5]" class="link-image"></a>
              </div>
  
            </div>
            
          </section>
        </div>
        <div class="text-center p-3 copyright">
          © Copyright: Aleksa Vujisić, Nenad Bečanović
        </div>
      </footer>
    </div>
  </body>

  <script type="text/x-template" id="restaurant-search-results-template">
    <div class="restaurants-body" v-bind:class="{'restaurant-body-search-mode' : isSearchMode}">
      <div class="card restaurant-card d-flex flex-row" v-for="restaurant in displayRestaurants" v-bind:key="restaurant.id">
          <img class="restaurant-img" v-bind:src="restaurant.bannerImage" alt="Restaurant image">
          <div class="d-flex flex-column restaurant-info">
            <div class="d-flex flex-row">
              <img class="restaurant-logo" v-bind:src="restaurant.logo">
              <span class="card-title pt-1 ps-3 basic-title">{{restaurant.name}}</span>
            </div>
            <div class="d-flex flex-row restaurant-cuisine-and-rating">
              <p class="restaurant-cuisine">{{restaurant.restaurantType.charAt(0).toUpperCase() + restaurant.restaurantType.substring(1)}}</p>
              <div class="d-flex flex-row me-3">
                <img class="location-pin-img" src="../assets/icons/star.png">
                <span class="fw-bold rating-text mx-2">{{restaurant.rating}}</span>
              </div>
            </div>
            <div class="d-flex flex-row me-3">
              <img class="location-pin-img" src="../assets/icons/location-pin-red.png">
              <span class="restaurant-location">Serbia, {{restaurant.location.address.city.name}}, {{restaurant.location.address.street}} {{restaurant.location.address.number}}, {{restaurant.location.address.city.postalCode}}</span>
            </div>
          </div>
      </div>
    </div>
  </script>
  <script type="text/x-template" id="register-info-template">
    <div class="modal-content">
      <div class="modal-header d-flex flex-column">
        <div class="d-flex flex-row align-items-center">
          <span class="align-self-center">Create an account</span>
          <span class="close">&times;</span>
        </div>
        <div class="d-flex flex-row modal-buttons">
          <span class="signinspan">
            Sign in
          </span>
          <span class="fw-bold">
            Sign up
          </span>
        </div>
        <div class="border-bottom-sign-up"></div>
      </div>
      <div class="modal-body">
        <form action="http://localhost:8081/rest/register/" method="post" @submit.prevent="submitForm()" autocomplete="off">
          <div class="mb-1">
            <label class="form-control-label">Name</label>
            <input v-model="form.name" @blur="$v.form.name.$touch()" type="text" :class="{'field-invalid': $v.form.name.$dirty, 'field-valid': (!$v.form.name.$invalid && form.name != '')}" class="form-control">
            <div v-if="$v.form.name.$dirty">
              <span class="error-message" v-if="$v.form.name.$invalid">Name is required.</span>
            </div>
          </div>
          <div class="mb-1">
            <label class="form-control-label">Surname</label>
            <input v-model="form.surname" @blur="$v.form.surname.$touch()" type="text" :class="{'field-invalid': $v.form.surname.$dirty, 'field-valid': (!$v.form.surname.$invalid && form.surname != '')}" class="form-control" >
            <div v-if="$v.form.surname.$dirty">
              <span class="error-message" v-if="$v.form.surname.$invalid">Surname is required.</span>
            </div>
          </div>
          <div class="mb-1">
            <label class="form-control-label">Gender</label>
            <select @blur="$v.form.gender.$touch()" v-model="form.gender" :class="{'field-invalid': $v.form.gender.$dirty, 'field-valid': (!$v.form.gender.$invalid && form.gender != '')}" class="form-select">
              <option value="" disabled selected>Select gender...</option>
              <option value="male">Male</option>
              <option value="female">Female</option>
            </select>
            <div v-if="$v.form.gender.$dirty">
              <span class="error-message" v-if="$v.form.gender.$invalid">Gender is required.</span>
            </div>
          </div>
          <label class="form-control-label">Date of Birth</label>
          <div class="d-flex d-row mb-1 justify-content-between date-of-birth-holder">
            <div class="me-3">
              <select v-model="form.yearOfBirth" class="form-select">
                <option value="" disabled selected>YYYY</option>
                <option v-for="x in dateOfBirthYears">
                  {{x}}
                </option>
              </select>
            </div>
            <div class="me-3">
              <select :disabled="form.yearOfBirth == ''" v-model="form.monthOfBirth" class="form-select" >
                <option value="" disabled selected>MM</option>
                <option v-for="x in dateOfBirthMonths">
                  {{x}}
                </option>
              </select>
            </div>
            <div>
              <select :disabled="form.monthOfBirth == ''" @blur="$v.form.dayOfBirth.$touch()" v-model="form.dayOfBirth" class="form-select">
                <option value="" disabled selected>DD</option>
                <option v-for="x in dateOfBirthDays">
                  {{x}}
                </option>
              </select>
            </div>
          </div>
          <div v-if="$v.form.dayOfBirth.$dirty">
            <span class="error-message" v-if="$v.form.dayOfBirth.$invalid">Please select a full date of birth.</span>
          </div>
          <div class="mb-1">
            <label class="form-control-label">Username</label>
            <input @blur="$v.form.username.$touch()" v-model="form.username" type="text" :class="{'field-invalid': $v.form.username.$dirty, 'field-valid': (!$v.form.username.$invalid && form.username != '')}" class="form-control">
            <div v-if="$v.form.username.$dirty">
              <span class="error-message" v-if="!$v.form.username.required">Username is required.</span>
              <span class="error-message" v-if="!$v.form.username.isUsernameValid">Special characters aren't allowed.</span>
            </div>
          </div>
          <div class="mb-4">
            <label class="form-control-label">Password</label>
            <input @blur="$v.form.password.$touch()" v-model="form.password" type="password" :class="{'field-invalid': $v.form.password.$dirty, 'field-valid': (!$v.form.password.$invalid && form.password != '')}" class="form-control">
            <div v-if="$v.form.password.$dirty">
              <span class="error-message" v-if="$v.form.password.$invalid">Password must contain at least 3 characters.</span>
            </div>
          </div>
          <button :disabled="$v.form.$invalid" type="submit" class="btn btn-danger regular-button">Register</button>
        </form>
      </div>
    </div>
  </script>
  <script type="text/x-template" id="login-info-template">
    <div class="modal-content">
      <div class="modal-header d-flex flex-column">
        <div class="d-flex flex-row align-items-center">
          <span class="align-self-center">Login to your account</span>
          <span class="close">&times;</span>
        </div>
        <div class="d-flex flex-row modal-buttons">
          <span class="fw-bold">
            Sign in
          </span>
          <span class="signupspan">
            Sign up
          </span>
        </div>
        <div class="border-bottom-sign-in"></div>
      </div>
      <div class="modal-body">
        <form action="">
          <div class="mb-1">
            <label class="form-control-label">Username</label>
            <input @blur="$v.form.username.$touch()" v-model="form.username" type="text" class="form-control">
            <div v-if="$v.form.username.$dirty">
              <span class="error-message" v-if="!$v.form.username.required">Username is required.</span>
            </div>
          </div>
          <div class="mb-4">
            <label class="form-control-label">Password</label>
            <input @blur="$v.form.password.$touch()" v-model="form.password" type="password" class="form-control">
            <div v-if="$v.form.password.$dirty">
              <span class="error-message" v-if="!$v.form.password.required">Password must contain at least 3 characters.</span>
            </div>
          </div>
          <button type="button" class="btn btn-danger regular-button">Sign in</button>
        </form>
      </div>
    </div>
  </script>
  <script type="text/javascript" src="../js/scripts/homepage.js"></script>
  <script type="text/javascript" src="../js/scripts/modal-popup.js"></script>
</html>